<% provide :title, t("user.edit") %>
<% provide :button_text, t("user.update") %>
<h1><%= t "user.edit.update" %></h1>
<div class ="row">
  <div class ="col-md-6 col-md-offset-3">
    <%= render "update_form" %>
  </div>
</div>
