# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 89319178689c573e84fbf3deef6d911ac0ef05ef4bc8103497b17fe4564bacd6f018067d8283f2d3402ef85c528d3c87501439c267ff81be243ac354798d9f61

test:
  secret_key_base: d465b6302aeed1b8659fe01bd99059b7919fabce1bf623a617d2557fd15e665cd00334cd43fc3c8c5a469a9ed81769454e9c858b7b37f7ca7e02b3a0f553fb16

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
