<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("help.title"), "/my_anime_list/help" %></li>
      <li><%= link_to t("about.title"), "/my_anime_list/about" %></li>
      <li><%= link_to t("contact.title"), "/my_anime_list/contact" %></li>
      <li><p>© <%= Date.today.year %> My Anime Review App.</p></li>
    </ul>
  </nav>
</footer>
